<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>


  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">

      <object id="cmf.examples.duplex.DuplexEventForm" type="cmf.examples.duplex.DuplexEventForm, cmf.examples.duplex">
        <property name="eventBus" ref="cmf.eventing.IEventBus" />
      </object>
      
      <object id="cmf.eventing.IEventBus" type="cmf.eventing.berico.DefaultEventBus, cmf.eventing.berico">
        <constructor-arg name="envBus" ref="cmf.bus.IEnvelopeBus" />
        <property name="inboundChain">
          <dictionary key-type="System.Int32" value-type="cmf.eventing.berico.IInboundEventProcessor, cmf.eventing.berico">
            <entry key="0" value-ref="JsonEventSerializer" />
          </dictionary>
        </property>
        <property name="outboundChain">
          <dictionary key-type="System.Int32" value-type="cmf.eventing.berico.IOutboundEventProcessor, cmf.eventing.berico">
            <entry key="0" value-ref="JsonEventSerializer" />
            <entry key="1" value-ref="OutboundHeadersProcessor" />
          </dictionary>
        </property>
      </object>

      <object id="JsonEventSerializer" type="cmf.eventing.berico.serializers.JsonEventSerializer, cmf.eventing.berico" />

      <object id="OutboundHeadersProcessor" type="cmf.eventing.berico.OutboundHeadersProcessor, cmf.eventing.berico" />
      
      <object id="cmf.bus.IEnvelopeBus" type="cmf.bus.berico.DefaultEnvelopeBus, cmf.bus.berico">
        <constructor-arg name="transportProvider" ref="cmf.bus.berico.ITransportProvider" />
      </object>

      <object id="cmf.bus.berico.ITransportProvider" type="cmf.rabbit.RabbitTransportProvider, cmf.rabbit">
        <constructor-arg name="topologyService" ref="cmf.rabbit.topology.ITopologyService" />
        <constructor-arg name="certProvider" ref="cmf.rabbit.security.ICertificateProvider" />
      </object>

      <object id="cmf.rabbit.topology.ITopologyService" type="cmf.rabbit.topology.SimpleTopologyService, cmf.rabbit">
        <constructor-arg name="name" value="" />
        <constructor-arg name="hostname" value="rabbit.osd.mil" />
        <constructor-arg name="vhost" value="" />
        <constructor-arg name="queuename" value="" />
        <constructor-arg name="port" value="5671" />
      </object>

      <object id="cmf.rabbit.security.ICertificateProvider" type="cmf.rabbit.security.WindowsCertificateStoreCertProvider, cmf.rabbit" />
      
    </objects>

  </spring>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libraries" />
    </assemblyBinding>
  </runtime>
  
  
</configuration>