<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>


  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
      <!-- Uses Windows Trace Listener 
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="All" />
        <arg key="showDateTime" value="true" />
        <arg key="showLogName" value="true" />
      </factoryAdapter>
      -->
    </logging>
  </common>
  
  
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">

      <object id="cmf.examples.duplex.DuplexEventForm" type="cmf.examples.duplex.DuplexEventForm, cmf.examples.duplex">
        <property name="eventBus" ref="cmf.eventing.patterns.rpc.IRpcEventBus" />
      </object>
      
      <object id="cmf.eventing.patterns.rpc.IRpcEventBus" type="cmf.eventing.berico.DefaultRpcBus, cmf.eventing.berico">
        <constructor-arg name="envBus" ref="cmf.bus.IEnvelopeBus" />
        <property name="inboundChain">
          <dictionary key-type="System.Int32" value-type="cmf.eventing.berico.IInboundEventProcessor, cmf.eventing.berico">
            <entry key="0" value-ref="RpcFilter" />
            <entry key="1" value-ref="DigitalSignatureProcessor" />
            <entry key="2" value-ref="JsonEventSerializer" />
          </dictionary>
        </property>
        <property name="outboundChain">
          <dictionary key-type="System.Int32" value-type="cmf.eventing.berico.IOutboundEventProcessor, cmf.eventing.berico">
            <entry key="0" value-ref="JsonEventSerializer" />
            <entry key="1" value-ref="OutboundHeadersProcessor" />
            <entry key="2" value-ref="DigitalSignatureProcessor" />
            <entry key="3" value-ref="RpcFilter" />
          </dictionary>
        </property>
      </object>

      <object id="JsonEventSerializer" type="cmf.eventing.berico.serializers.JsonEventSerializer, cmf.eventing.berico" />

      <object id="OutboundHeadersProcessor" type="cmf.eventing.berico.OutboundHeadersProcessor, cmf.eventing.berico" />

      <object id="RpcFilter" type="cmf.eventing.berico.RpcFilter, cmf.eventing.berico" />

      <object id="DigitalSignatureProcessor" type="cmf.eventing.berico.DigitalSignatureProcessor, cmf.eventing.berico">
        <constructor-arg name="certProvider" ref="cmf.security.ICertificateProvider" />
      </object>
      
      <object id="cmf.bus.IEnvelopeBus" type="cmf.bus.berico.DefaultEnvelopeBus, cmf.bus.berico">
        <constructor-arg name="transportProvider" ref="cmf.bus.berico.ITransportProvider" />
      </object>

      <object id="cmf.bus.berico.ITransportProvider" type="cmf.rabbit.RabbitTransportProvider, cmf.rabbit">
        <constructor-arg name="topologyService" ref="cmf.rabbit.topology.ITopologyService" />
        <constructor-arg name="connFactory" ref="cmf.rabbit.IRabbitConnectionFactory" />
      </object>

      <object id="cmf.rabbit.IRabbitConnectionFactory" type="cmf.rabbit.CertificateConnectionFactory, cmf.rabbit">
        <constructor-arg name="certificateProvider" ref="cmf.security.ICertificateProvider" />
      </object>
      
      <object id="cmf.rabbit.topology.ITopologyService" type="cmf.rabbit.topology.SimpleTopologyService, cmf.rabbit">
        <constructor-arg name="clientProfile" value="" />
        <constructor-arg name="name" value="" />
        <constructor-arg name="hostname" value="rabbit.osd.mil" />
        <constructor-arg name="vhost" value="" />
        <constructor-arg name="port" value="5671" />
      </object>

      <object id="cmf.security.ICertificateProvider" type="cmf.security.WindowsCertificateStoreCertProvider, cmf.security" />
      
    </objects>

  </spring>


  <log4net>
    <appender name="SingleFileAppender" type="log4net.Appender.FileAppender">
      <file value="cmf.examples.duplex.log"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;"/>
        <footer value="[Footer]&#13;&#10;"/>
        <conversionPattern value="%-5level  |--|   %date{hh:mm:ss.fff tt} (%thread)   |--|   %logger{1}%newline  %message%newline%exception%newline%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level  |--|   %date{hh:mm:ss.fff tt} (%thread)   |--|   %logger{1}%newline  %message%newline%exception%newline%newline" />
      </layout>
    </appender>
    <category name="Spring.Objects.Factory">
      <level value="INFO"/>
    </category>
    <category name="Spring.Context.Support">
      <level value="INFO"/>
    </category>
    <category name="Spring.Web.Support">
      <level value="INFO"/>
    </category>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="SingleFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libraries;build" />
    </assemblyBinding>
  </runtime>
  
  
</configuration>